@define-color transparent rgba(0.0, 0.0, 0.0, 0.0);
@define-color white #FFFFFF;
@define-color black #000000;
@define-color taffy-blue #0c7cd5;

@define-color active-window-color @white;
@define-color urgent-window-color @taffy-blue;
@define-color font-color @white;
@define-color menu-background-color @white;
@define-color menu-font-color @black;

/* Top level styling */

.taffy-window * {
  font-family: "Noto Sans", "FiraCode-Retina",  sans-serif;
  font-size: 10pt;
  color: @font-color;
  background-color: @black
}

